target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/misc.xml
/.idea/encodings.xml
/src/main/webapp/index.jsp
/.idea/jpa-buddy.xml
/.idea/vcs.xml
/src/main/webapp/WEB-INF/web.xml
/.idea/workspace.xml
/.idea/jsLibraryMappings.xml
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/byte-buddy-1.12.18.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/checker-qual-3.5.0.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/classmate-1.5.1.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/commons-logging-1.2.jar
/.idea/dataSources.xml
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/fontbox-2.0.27.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/gson-2.9.0.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/hibernate-commons-annotations-6.0.2.Final.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/hibernate-core-6.1.5.Final.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/hibernate-hikaricp-6.1.5.Final.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/HikariCP-5.0.1.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/istack-commons-runtime-4.0.1.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/jakarta.activation-2.0.1.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/jakarta.inject-api-2.0.0.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/jakarta.persistence-api-3.0.0.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/jakarta.transaction-api-2.0.0.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/jakarta.xml.bind-api-3.0.1.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/jandex-2.4.2.Final.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/javassist-3.28.0-GA.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/jaxb-core-3.0.2.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/jaxb-runtime-3.0.2.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/jbcrypt-0.4.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/jboss-logging-3.4.3.Final.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/jsr305-3.0.2.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/jstl-1.2.jar
/.idea/artifacts/library_javaEE_Web_exploded.xml
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/lombok-1.18.24.jar
/out/artifacts/library_javaEE_Web_exploded/META-INF/MANIFEST.MF
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/pdfbox-2.0.27.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/pdfbox-debugger-2.0.27.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/pdfbox-tools-2.0.27.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/postgresql-42.5.0.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/reflections-0.10.2.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/slf4j-api-2.0.3.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/slf4j-simple-2.0.3.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/standard-1.1.2.jar
/out/artifacts/library_javaEE_Web_exploded/WEB-INF/lib/txw2-3.0.2.jar
/.idea/uiDesigner.xml
